In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
!ls -lath data

total 203824
drwxr-xr-x  10 vyju  staff   320B Jan  7 16:38 ..
-rwxr-xr-x@  1 vyju  staff   162K Jan  7 16:01 PEP_2018_PEPANNRES_with_ann.csv
drwxr-xr-x  10 vyju  staff   320B Jan  7 12:49 .
-rw-r--r--@  1 vyju  staff   6.0K Jan  7 12:46 .DS_Store
-rw-r--r--   1 vyju  staff    35M Jan  7 11:00 Zip_Zhvi_AllHomes.csv
-rw-r--r--   1 vyju  staff    42M Jan  7 10:04 Public_Schools.csv
-rw-r--r--   1 vyju  staff    14M Jan  7 10:04 Private_Schools.csv
-rw-r--r--   1 vyju  staff   1.1M Jan  7 10:04 Poverty_est18all.xls
-rw-r--r--   1 vyju  staff   3.6M Jan  7 10:04 Hospitals.csv
-rw-r--r--   1 vyju  staff   3.6M Jan  7 10:04 County_Zhvi_AllHomes.csv

In [8]:
df = pd.read_csv('data/County_Zhvi_AllHomes.csv', encoding='latin1')

In [9]:
display(df.describe())
df.info()
df.head()

,RegionID,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
count,2018.000000,2018.000000,2018.000000,2018.000000,1.675000e+03,1.717000e+03,1.725000e+03,1.729000e+03,1.738000e+03,1.743000e+03,...,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03,2.018000e+03
mean,2067.587711,30.411794,100.245292,1009.500000,1.620621e+05,1.623351e+05,1.622051e+05,1.616362e+05,1.609879e+05,1.601282e+05,...,1.877864e+05,1.884452e+05,1.891131e+05,1.897811e+05,1.904129e+05,1.910132e+05,1.916043e+05,1.922238e+05,1.928333e+05,1.932455e+05
std,15543.872219,15.111202,109.281186,582.690741,9.998748e+04,1.001488e+05,9.986633e+04,9.916502e+04,9.834161e+04,9.744337e+04,...,1.247496e+05,1.248964e+05,1.250613e+05,1.252512e+05,1.253754e+05,1.254423e+05,1.254534e+05,1.255843e+05,1.257414e+05,1.258760e+05
min,66.000000,1.000000,1.000000,1.000000,3.380900e+04,3.379950e+04,3.387533e+04,3.412367e+04,3.440100e+04,3.466267e+04,...,4.401933e+04,4.421600e+04,4.436133e+04,4.452200e+04,4.472167e+04,4.469167e+04,4.478333e+04,4.462967e+04,4.480967e+04,4.457100e+04
25%,913.250000,18.000000,33.000000,505.250000,9.877000e+04,9.868700e+04,9.882800e+04,9.854700e+04,9.825725e+04,9.808400e+04,...,1.133656e+05,1.139274e+05,1.142568e+05,1.150439e+05,1.152840e+05,1.158925e+05,1.163178e+05,1.170755e+05,1.174827e+05,1.176804e+05
50%,1732.000000,29.000000,75.000000,1009.500000,1.351110e+05,1.352945e+05,1.352797e+05,1.350117e+05,1.346587e+05,1.339927e+05,...,1.560745e+05,1.567922e+05,1.575453e+05,1.584327e+05,1.588497e+05,1.595802e+05,1.602148e+05,1.609615e+05,1.616097e+05,1.616860e+05
75%,2556.750000,45.000000,129.000000,1513.750000,1.933215e+05,1.939580e+05,1.943587e+05,1.940010e+05,1.927654e+05,1.922127e+05,...,2.212929e+05,2.219506e+05,2.227452e+05,2.237943e+05,2.248783e+05,2.256547e+05,2.265561e+05,2.272890e+05,2.274881e+05,2.281344e+05
max,698720.000000,56.000000,840.000000,2018.000000,1.181295e+06,1.184977e+06,1.176099e+06,1.171844e+06,1.165266e+06,1.164527e+06,...,1.582678e+06,1.588063e+06,1.591903e+06,1.595350e+06,1.601888e+06,1.607942e+06,1.615246e+06,1.621570e+06,1.629556e+06,1.631982e+06

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018 entries, 0 to 2017
Columns: 150 entries, RegionID to 2019-11
dtypes: float64(143), int64(4), object(3)
memory usage: 2.3+ MB

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2008-01,2008-02,2008-03,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,3101,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,NaN,NaN,472143.000000,...,627605.333333,626330.000000,626452.666667,627361.333333,629635.333333,627320.000000,626593.333333,627129.666667,631862.000000,635059.000000
1,139,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,NaN,NaN,NaN,...,242852.333333,243802.000000,244960.000000,245683.000000,245542.333333,244876.333333,243834.333333,242881.000000,242228.000000,242093.000000
2,1090,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,141119.0,140846.0,140670.666667,...,195453.666667,195767.000000,195631.333333,195685.333333,196198.000000,196728.333333,197370.333333,197644.000000,198527.333333,199147.000000
3,2402,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,NaN,227053.0,224923.000000,...,279281.333333,280771.666667,281602.333333,282539.666667,283581.666667,285116.666667,287170.666667,288931.333333,290680.666667,292223.666667
4,2841,San Diego County,CA,San Diego-Carlsbad,6,73,5,436525.0,432364.0,428459.000000,...,587666.333333,587108.000000,589288.666667,590122.000000,592045.000000,594354.000000,596542.333333,597062.333333,598175.000000,600560.000000

In [10]:
# for c in df.columns: print(c)

In [11]:
# Filter down to the month we plan to use, June 2019

df_Jun2019 = df[['RegionID', 'RegionName', 'State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS', 'SizeRank', '2019-06']]
df_Jun2019

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2019-06
0,3101,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,629635.333333
1,139,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,245542.333333
2,1090,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,196198.000000
3,2402,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,283581.666667
4,2841,San Diego County,CA,San Diego-Carlsbad,6,73,5,592045.000000
...,...,...,...,...,...,...,...,...
2013,1793,Jackson County,CO,NaN,8,57,2014,174656.000000
2014,1648,Daggett County,UT,NaN,49,9,2015,207925.666667
2015,2345,Hinsdale County,CO,NaN,8,53,2016,329117.333333
2016,1933,Mineral County,CO,NaN,8,79,2017,263305.333333
2017,2518,San Juan County,CO,NaN,8,111,2018,285736.666667

In [12]:
df_dcmetro = df_Jun2019.loc[df_Jun2019['Metro'] == 'Washington-Arlington-Alexandria']
df_dcmetro

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2019-06
35,1694,Fairfax County,VA,Washington-Arlington-Alexandria,51,59,36,558783.000000
41,2975,Montgomery County,MD,Washington-Arlington-Alexandria,24,31,42,470224.666667
58,3246,Prince Georges County,MD,Washington-Arlington-Alexandria,24,33,59,312947.333333
104,3289,District of Columbia,DC,Washington-Arlington-Alexandria,11,1,105,623966.666667
164,3247,Prince William County,VA,Washington-Arlington-Alexandria,51,153,165,385136.000000
202,1887,Loudoun County,VA,Washington-Arlington-Alexandria,51,107,203,531570.333333
270,2699,Frederick County,MD,Washington-Arlington-Alexandria,24,21,271,337613.000000
293,2619,Arlington County,VA,Washington-Arlington-Alexandria,51,13,294,711743.333333
414,1607,Charles County,MD,Washington-Arlington-Alexandria,24,17,415,310631.000000
427,3253,Alexandria City,VA,Washington-Arlington-Alexandria,51,510,428,554203.000000
466,2556,Stafford County,VA,Washington-Arlington-Alexandria,51,179,467,347158.333333
481,3193,Spotsylvania County,VA,Washington-Arlington-Alexandria,51,177,482,287085.666667
618,1581,Calvert County,MD,Washington-Arlington-Alexandria,24,9,619,341216.666667
761,2261,Fauquier County,VA,Washington-Arlington-Alexandria,51,61,762,419933.666667
870,2757,Jefferson County,WV,Washington-Arlington-Alexandria,54,37,871,228683.666667
961,2240,Culpeper County,VA,Washington-Arlington-Alexandria,51,47,962,293808.000000
1124,3213,Manassas City,VA,Washington-Arlington-Alexandria,51,683,1125,330914.333333
1131,1483,Warren County,VA,Washington-Arlington-Alexandria,51,187,1132,223468.333333
1444,3283,Fredericksburg City,VA,Washington-Arlington-Alexandria,51,630,1445,325345.333333
1498,3162,Fairfax City,VA,Washington-Arlington-Alexandria,51,600,1499,544894.000000
1775,943,Clarke County,VA,Washington-Arlington-Alexandria,51,43,1776,358250.000000
1827,3272,Falls Church City,VA,Washington-Arlington-Alexandria,51,610,1828,812208.666667

In [13]:
# Use to create dictionary for CountyName : CountyFIPS

{ a: None for a in sorted(list(df_dcmetro['RegionName']))}

{'Alexandria City': None,
 'Arlington County': None,
 'Calvert County': None,
 'Charles County': None,
 'Clarke County': None,
 'Culpeper County': None,
 'District of Columbia': None,
 'Fairfax City': None,
 'Fairfax County': None,
 'Falls Church City': None,
 'Fauquier County': None,
 'Frederick County': None,
 'Fredericksburg City': None,
 'Jefferson County': None,
 'Loudoun County': None,
 'Manassas City': None,
 'Montgomery County': None,
 'Prince Georges County': None,
 'Prince William County': None,
 'Spotsylvania County': None,
 'Stafford County': None,
 'Warren County': None}

In [14]:
dcmetro_FIPS = {
 'Alexandria City': 51510,
 'Arlington County': 51013,
 'Calvert County': 24009,
 'Charles County': 24017,
 'Clarke County': 51043,
 'Culpeper County': 51047,
 'District of Columbia': 11001,
 'Fairfax City': 51600,
 'Fairfax County': 51059,
 'Falls Church City': 51610,
 'Fauquier County': 51061,
 'Frederick County': 24021,
 'Fredericksburg City': 51630,
 'Jefferson County': 54037,
 'Loudoun County': 51107,
 'Manassas City': 51683,
 'Montgomery County': 24031,
 'Prince Georges County': 24033,
 'Prince William County': 51153,
 'Spotsylvania County': 51177,
 'Stafford County': 51179,
 'Warren County': 51187
}

In [15]:
df_dcmetro['FIPS'] = df_dcmetro['RegionName'].map(dcmetro_FIPS)

/Users/vyju/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
df_dcmetro

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2019-06,FIPS
35,1694,Fairfax County,VA,Washington-Arlington-Alexandria,51,59,36,558783.000000,51059
41,2975,Montgomery County,MD,Washington-Arlington-Alexandria,24,31,42,470224.666667,24031
58,3246,Prince Georges County,MD,Washington-Arlington-Alexandria,24,33,59,312947.333333,24033
104,3289,District of Columbia,DC,Washington-Arlington-Alexandria,11,1,105,623966.666667,11001
164,3247,Prince William County,VA,Washington-Arlington-Alexandria,51,153,165,385136.000000,51153
202,1887,Loudoun County,VA,Washington-Arlington-Alexandria,51,107,203,531570.333333,51107
270,2699,Frederick County,MD,Washington-Arlington-Alexandria,24,21,271,337613.000000,24021
293,2619,Arlington County,VA,Washington-Arlington-Alexandria,51,13,294,711743.333333,51013
414,1607,Charles County,MD,Washington-Arlington-Alexandria,24,17,415,310631.000000,24017
427,3253,Alexandria City,VA,Washington-Arlington-Alexandria,51,510,428,554203.000000,51510
466,2556,Stafford County,VA,Washington-Arlington-Alexandria,51,179,467,347158.333333,51179
481,3193,Spotsylvania County,VA,Washington-Arlington-Alexandria,51,177,482,287085.666667,51177
618,1581,Calvert County,MD,Washington-Arlington-Alexandria,24,9,619,341216.666667,24009
761,2261,Fauquier County,VA,Washington-Arlington-Alexandria,51,61,762,419933.666667,51061
870,2757,Jefferson County,WV,Washington-Arlington-Alexandria,54,37,871,228683.666667,54037
961,2240,Culpeper County,VA,Washington-Arlington-Alexandria,51,47,962,293808.000000,51047
1124,3213,Manassas City,VA,Washington-Arlington-Alexandria,51,683,1125,330914.333333,51683
1131,1483,Warren County,VA,Washington-Arlington-Alexandria,51,187,1132,223468.333333,51187
1444,3283,Fredericksburg City,VA,Washington-Arlington-Alexandria,51,630,1445,325345.333333,51630
1498,3162,Fairfax City,VA,Washington-Arlington-Alexandria,51,600,1499,544894.000000,51600
1775,943,Clarke County,VA,Washington-Arlington-Alexandria,51,43,1776,358250.000000,51043
1827,3272,Falls Church City,VA,Washington-Arlington-Alexandria,51,610,1828,812208.666667,51610

In [17]:
df_public_schools = pd.read_csv('data/Public_Schools.csv')
df_public_schools.head()

,X,Y,OBJECTID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
0,-73.534274,41.327100,1,90381001361,SCOTTS RIDGE MIDDLE SCHOOL,750 NORTH SALEM RD.,RIDGEFIELD,CT,6877,NOT AVAILABLE,...,IMAGERY,2010-03-05T00:00:00.000Z,www.ridgefield.org/srms/index.htm,2,496,06,08,903810,42,10807677
1,-83.002954,42.609035,2,263447007003,BEMIS JUNIOR HIGH SCHOOL,12500 19 MILE RD,STERLING HEIGHTS,MI,48313,2682,...,IMAGERY,2010-08-26T00:00:00.000Z,NOT AVAILABLE,2,943,07,09,2634470,44,NOT AVAILABLE
2,-119.784787,39.509917,3,320048000242,ROGER CORBETT ELEMENTARY SCHOOL,1901 VILLANOVA DRIVE,RENO,NV,89502,NOT AVAILABLE,...,IMAGERY,2010-06-01T00:00:00.000Z,NOT AVAILABLE,1,515,PK,06,3200480,32,NOT AVAILABLE
3,-98.472562,29.436838,4,483312007184,NISD BEXAR COUNTY JJA,1402 HACKBERRY,SAN ANTONIO,TX,78238,1699,...,IMAGERY,2010-02-25T00:00:00.000Z,NOT AVAILABLE,4,25,06,12,4833120,-1,NOT AVAILABLE
4,-95.491060,29.596903,5,481965001816,BRIARGATE EL,15817 BLUE RIDGE RD,MISSOURI CITY,TX,77489,3403,...,IMAGERY,2010-06-21T00:00:00.000Z,www.fortbend.k12.tx.us/campuses/bge/default.cfm,1,468,PK,05,4819650,30,NOT AVAILABLE

In [18]:
df_public_schools.columns

Index(['X', 'Y', 'OBJECTID', 'NCESID', 'NAME', 'ADDRESS', 'CITY', 'STATE',
       'ZIP', 'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'LEVEL_', 'ENROLLMENT', 'ST_GRADE', 'END_GRADE',
       'DISTRICTID', 'FT_TEACHER', 'SHELTER_ID'],
      dtype='object')

In [19]:
df_public_schools['COUNTYFIPS'].value_counts()

6037     2301
17031    1317
4013     1252
48201    1142
6073      768
         ...
13263       1
48155       1
13007       1
31009       1
48269       1
Name: COUNTYFIPS, Length: 3223, dtype: int64

In [20]:
df_public_schools['COUNTYFIPS'].value_counts().to_frame()

       COUNTYFIPS
6037         2301
17031        1317
4013         1252
48201        1142
6073          768
...           ...
13263           1
48155           1
13007           1
31009           1
48269           1

[3223 rows x 1 columns]

In [21]:
df_public_schools_brief = df_public_schools[['NAME', 'CITY', 'STATE', 'ZIP','COUNTY','COUNTYFIPS', 'DISTRICTID']]
df_public_schools_brief.head()

,NAME,CITY,STATE,ZIP,COUNTY,COUNTYFIPS,DISTRICTID
0,SCOTTS RIDGE MIDDLE SCHOOL,RIDGEFIELD,CT,6877,FAIRFIELD,9001,903810
1,BEMIS JUNIOR HIGH SCHOOL,STERLING HEIGHTS,MI,48313,MACOMB,26099,2634470
2,ROGER CORBETT ELEMENTARY SCHOOL,RENO,NV,89502,WASHOE,32031,3200480
3,NISD BEXAR COUNTY JJA,SAN ANTONIO,TX,78238,BEXAR,48029,4833120
4,BRIARGATE EL,MISSOURI CITY,TX,77489,FORT BEND,48157,4819650

In [22]:
public_schools_per_county = df_public_schools['COUNTYFIPS'].value_counts().to_frame()
public_schools_per_county.reset_index(level=0, inplace=True)
public_schools_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfPublicSchools"}, inplace=True)
public_schools_per_county.shape

(3223, 2)

In [23]:
public_schools_per_county_dcmetro = public_schools_per_county.loc[public_schools_per_county['FIPS'].isin(dcmetro_FIPS.values())]

In [24]:
public_schools_per_county_dcmetro.shape

(22, 2)

In [25]:
df_hospitals = pd.read_csv('data/Hospitals.csv')
df_hospitals.head()

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-83.387732,39.348667,3001,12645123,ADENA GREENFIELD MEDICAL CENTER,550 MIRABEAU STREET,GREENFIELD,OH,45123,NOT AVAILABLE,...,2014-02-10T00:00:00.000Z,http://www.adena.org/locations/detail.dT/adena...,1200,NOT AVAILABLE,39,NON-PROFIT,-999,25,NOT AVAILABLE,N
1,-81.919907,40.565095,3002,17244654,POMERENE HOSPITAL,981 WOOSTER ROAD,MILLERSBURG,OH,44654,NOT AVAILABLE,...,2014-01-31T00:00:00.000Z,http://www.pomerenehospital.org,1202,NOT AVAILABLE,39,GOVERNMENT - LOCAL,-999,69,NOT AVAILABLE,N
2,-82.450635,40.048302,3003,2543055,LICKING MEMORIAL HOSPITAL,1320 WEST MAIN STREET,NEWARK,OH,43055,NOT AVAILABLE,...,2014-02-10T00:00:00.000Z,http://www.lmhealth.org,1213,NOT AVAILABLE,39,NON-PROFIT,-999,213,NOT AVAILABLE,Y
3,-83.755531,40.369542,3004,5843311,MARY RUTAN HOSPITAL,205 PALMER AVENUE,BELLEFONTAINE,OH,43311,NOT AVAILABLE,...,2014-02-10T00:00:00.000Z,http://www.maryrutan.org,1214,NOT AVAILABLE,39,NON-PROFIT,-999,115,NOT AVAILABLE,N
4,-82.224713,41.295065,3005,5544074,MERCY ALLEN HOSPITAL,200 WEST LORAIN STREET,OBERLIN,OH,44074,NOT AVAILABLE,...,2014-02-10T00:00:00.000Z,http://www.mercyonline.org/mercy_allen_hospita...,1219,ALLEN COMMUNITY HOSPITAL,39,NON-PROFIT,-999,25,NOT AVAILABLE,Y

In [26]:
df_hospitals.columns

Index(['X', 'Y', 'OBJECTID', 'ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP',
       'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'STATE_ID', 'ALT_NAME', 'ST_FIPS', 'OWNER', 'TTL_STAFF',
       'BEDS', 'TRAUMA', 'HELIPAD'],
      dtype='object')

In [27]:
df_hospitals_brief = df_hospitals[['NAME', 'CITY', 'STATE', 'ZIP', 'COUNTY', 'COUNTYFIPS', 'ST_FIPS']]

In [28]:
hospitals_per_county = df_hospitals['COUNTYFIPS'].value_counts().to_frame()
hospitals_per_county.reset_index(level=0, inplace=True)
hospitals_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfHospitals"}, inplace=True)
hospitals_per_county.shape

(2583, 2)

In [29]:
hospitals_per_county['FIPS'] = pd.to_numeric(hospitals_per_county['FIPS'], errors='coerce')

In [30]:
hospitals_per_county_dcmetro = hospitals_per_county.loc[hospitals_per_county['FIPS'].isin(dcmetro_FIPS.values())]

In [31]:
hospitals_per_county_dcmetro

         FIPS  NumberOfHospitals
80    11001.0                 15
147   24031.0                  9
179   51059.0                  8
201   24033.0                  7
440   51107.0                  4
531   51153.0                  3
1072  51630.0                  2
1191  51177.0                  1
1200  51179.0                  1
1382  51683.0                  1
1522  54037.0                  1
1557  24021.0                  1
1697  51187.0                  1
1928  24017.0                  1
1972  51510.0                  1
2141  51047.0                  1
2193  51013.0                  1
2275  24009.0                  1
2363  51061.0                  1

In [32]:
len(hospitals_per_county_dcmetro)

19

In [33]:
df_private_schools = pd.read_csv('data/Private_Schools.csv')

In [34]:
df_private_schools.columns

Index(['X', 'Y', 'FID', 'OBJECTID', 'NCESID', 'NAME', 'ADDRESS', 'CITY',
       'STATE', 'ZIP', 'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION',
       'COUNTY', 'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE',
       'NAICS_CODE', 'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD',
       'VAL_DATE', 'WEBSITE', 'LEVEL_', 'ENROLLMENT', 'START_GRAD',
       'END_GRADE', 'FT_TEACHER', 'SHELTER_ID'],
      dtype='object')

In [35]:
private_schools_per_county = df_private_schools['COUNTYFIPS'].value_counts().to_frame()
private_schools_per_county.reset_index(level=0, inplace=True)
private_schools_per_county.rename(index=str, columns={"index": "FIPS", "COUNTYFIPS": "NumberOfPrivateSchools"}, inplace=True)
private_schools_per_county.shape

(2286, 2)

In [36]:
private_schools_per_county_dcmetro = private_schools_per_county.loc[private_schools_per_county['FIPS'].isin(dcmetro_FIPS.values())]

In [37]:
private_schools_per_county_dcmetro

       FIPS  NumberOfPrivateSchools
24    24031                     155
26    51059                     149
62    24033                      97
72    11001                      87
152   51107                      46
179   51153                      37
266   24021                      24
357   51013                      17
397   51510                      15
445   51061                      13
472   24017                      12
591   51177                       9
651   51179                       8
681   51683                       7
775   24009                       6
808   51187                       6
826   54037                       6
862   51600                       5
1082  51047                       4
1135  51630                       3
1167  51043                       3
1296  51610                       3

In [38]:
df_dcmetro_merged = df_dcmetro.merge(public_schools_per_county_dcmetro, how='left', on='FIPS').merge(
                                        private_schools_per_county_dcmetro, how='left', on='FIPS').merge(
                                        hospitals_per_county_dcmetro, how='left', on='FIPS')

In [39]:
df_dcmetro_merged['NumberOfSchools'] = df_dcmetro_merged['NumberOfPublicSchools'] + df_dcmetro_merged['NumberOfPrivateSchools']

In [40]:
df_dcmetro_merged.State.unique()

array(['VA', 'MD', 'DC', 'WV'], dtype=object)

In [41]:
df_dcmetro_merged

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2019-06,FIPS,NumberOfPublicSchools,NumberOfPrivateSchools,NumberOfHospitals,NumberOfSchools
0,1694,Fairfax County,VA,Washington-Arlington-Alexandria,51,59,36,558783.000000,51059,221,149,8.0,370
1,2975,Montgomery County,MD,Washington-Arlington-Alexandria,24,31,42,470224.666667,24031,207,155,9.0,362
2,3246,Prince Georges County,MD,Washington-Arlington-Alexandria,24,33,59,312947.333333,24033,214,97,7.0,311
3,3289,District of Columbia,DC,Washington-Arlington-Alexandria,11,1,105,623966.666667,11001,249,87,15.0,336
4,3247,Prince William County,VA,Washington-Arlington-Alexandria,51,153,165,385136.000000,51153,97,37,3.0,134
5,1887,Loudoun County,VA,Washington-Arlington-Alexandria,51,107,203,531570.333333,51107,94,46,4.0,140
6,2699,Frederick County,MD,Washington-Arlington-Alexandria,24,21,271,337613.000000,24021,67,24,1.0,91
7,2619,Arlington County,VA,Washington-Arlington-Alexandria,51,13,294,711743.333333,51013,39,17,1.0,56
8,1607,Charles County,MD,Washington-Arlington-Alexandria,24,17,415,310631.000000,24017,38,12,1.0,50
9,3253,Alexandria City,VA,Washington-Arlington-Alexandria,51,510,428,554203.000000,51510,23,15,1.0,38
10,2556,Stafford County,VA,Washington-Arlington-Alexandria,51,179,467,347158.333333,51179,32,8,1.0,40
11,3193,Spotsylvania County,VA,Washington-Arlington-Alexandria,51,177,482,287085.666667,51177,35,9,1.0,44
12,1581,Calvert County,MD,Washington-Arlington-Alexandria,24,9,619,341216.666667,24009,25,6,1.0,31
13,2261,Fauquier County,VA,Washington-Arlington-Alexandria,51,61,762,419933.666667,51061,22,13,1.0,35
14,2757,Jefferson County,WV,Washington-Arlington-Alexandria,54,37,871,228683.666667,54037,16,6,1.0,22
15,2240,Culpeper County,VA,Washington-Arlington-Alexandria,51,47,962,293808.000000,51047,11,4,1.0,15
16,3213,Manassas City,VA,Washington-Arlington-Alexandria,51,683,1125,330914.333333,51683,10,7,1.0,17
17,1483,Warren County,VA,Washington-Arlington-Alexandria,51,187,1132,223468.333333,51187,8,6,1.0,14
18,3283,Fredericksburg City,VA,Washington-Arlington-Alexandria,51,630,1445,325345.333333,51630,6,3,2.0,9
19,3162,Fairfax City,VA,Washington-Arlington-Alexandria,51,600,1499,544894.000000,51600,7,5,NaN,12
20,943,Clarke County,VA,Washington-Arlington-Alexandria,51,43,1776,358250.000000,51043,4,3,NaN,7
21,3272,Falls Church City,VA,Washington-Arlington-Alexandria,51,610,1828,812208.666667,51610,2,3,NaN,5

In [42]:
df_dcmetro_merged.describe()

,RegionID,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2019-06,FIPS,NumberOfPublicSchools,NumberOfPrivateSchools,NumberOfHospitals,NumberOfSchools
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,19.000000,22.000000
mean,2566.363636,43.181818,191.272727,681.181818,423172.045455,43373.090909,64.863636,32.363636,3.157895,97.227273
std,738.155523,13.643894,239.002925,571.932117,157453.966002,13750.182883,80.816839,46.506063,3.876756,125.304175
min,943.000000,11.000000,1.000000,36.000000,223468.333333,11001.000000,2.000000,3.000000,1.000000,5.000000
25%,1975.250000,30.750000,31.500000,220.000000,316046.833333,30778.000000,10.250000,6.000000,1.000000,15.500000
50%,2728.000000,51.000000,60.000000,474.500000,352704.166667,51084.000000,28.500000,10.500000,1.000000,39.000000
75%,3237.750000,51.000000,185.000000,1084.250000,541563.083333,51429.250000,87.250000,33.750000,3.500000,123.250000
max,3289.000000,54.000000,683.000000,1828.000000,812208.666667,54037.000000,249.000000,155.000000,15.000000,370.000000

In [43]:
df_population = pd.read_csv('data/PEP_2018_PEPANNRES_with_ann.csv', encoding='latin1')

In [44]:
df_population_dcarea = df_population.loc[df_population['State'].isin([' Virginia',' District of Columbia', ' Maryland',' West Virginia'])]

In [45]:
df_population.State.unique()

array([' Alabama', ' Alaska', ' Arizona', ' Arkansas', ' California',
       ' Colorado', ' Connecticut', ' Delaware', ' District of Columbia',
       ' Florida', ' Georgia', ' Hawaii', ' Idaho', ' Illinois',
       ' Indiana', ' Iowa', ' Kansas', ' Kentucky', ' Louisiana',
       ' Maine', ' Maryland', ' Massachusetts', ' Michigan', ' Minnesota',
       ' Mississippi', ' Missouri', ' Montana', ' Nebraska', ' Nevada',
       ' New Hampshire', ' New Jersey', ' New Mexico', ' New York',
       ' North Carolina', ' North Dakota', ' Ohio', ' Oklahoma',
       ' Oregon', ' Pennsylvania', ' Rhode Island', ' South Carolina',
       ' South Dakota', ' Tennessee', ' Texas', ' Utah', ' Vermont',
       ' Virginia', ' Washington', ' West Virginia', ' Wisconsin',
       ' Wyoming'], dtype=object)

In [46]:
df_population_dcarea.shape

(211, 5)

In [47]:
df_population_dcarea.rename(columns = {'Geography_County':'RegionName'}, inplace = True)

/Users/vyju/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [48]:
df_population_dcarea = df_population_dcarea.drop(['Id', 'Id2','State'], axis=1)
df_population_dcarea

                RegionName  Population
319   District of Columbia      702455
1193       Allegany County       70975
1194   Anne Arundel County      576031
1195      Baltimore County      828431
1196        Calvert County       92003
...                    ...         ...
3040        Webster County        8285
3041         Wetzel County       15270
3042           Wirt County        5830
3043           Wood County       84203
3044        Wyoming County       20786

[211 rows x 2 columns]

In [49]:
df_dcmetro_merged_pop =df_dcmetro_merged.merge(df_population_dcarea, how='left', on='RegionName')

In [50]:
df_dcmetro_ = df_dcmetro_merged_pop.drop(['StateCodeFIPS','MunicipalCodeFIPS'], axis=1)

In [51]:
df_dcmetro_merged_pop.rename(columns = {'2019-06':'MedianHousePrice'}, inplace = True)

,RegionID,RegionName,State,Metro,SizeRank,2019-06,FIPS,NumberOfPublicSchools,NumberOfPrivateSchools,NumberOfHospitals,NumberOfSchools,Population
0,1694,Fairfax County,VA,Washington-Arlington-Alexandria,36,558783.000000,51059,221,149,8.0,370,1150795
1,2975,Montgomery County,MD,Washington-Arlington-Alexandria,42,470224.666667,24031,207,155,9.0,362,1052567
2,3246,Prince Georges County,MD,Washington-Arlington-Alexandria,59,312947.333333,24033,214,97,7.0,311,909308
3,3289,District of Columbia,DC,Washington-Arlington-Alexandria,105,623966.666667,11001,249,87,15.0,336,702455
4,3247,Prince William County,VA,Washington-Arlington-Alexandria,165,385136.000000,51153,97,37,3.0,134,468011
5,1887,Loudoun County,VA,Washington-Arlington-Alexandria,203,531570.333333,51107,94,46,4.0,140,406850
6,2699,Frederick County,MD,Washington-Arlington-Alexandria,271,337613.000000,24021,67,24,1.0,91,255648
7,2619,Arlington County,VA,Washington-Arlington-Alexandria,294,711743.333333,51013,39,17,1.0,56,237521
8,1607,Charles County,MD,Washington-Arlington-Alexandria,415,310631.000000,24017,38,12,1.0,50,161503
9,3253,Alexandria City,VA,Washington-Arlington-Alexandria,428,554203.000000,51510,23,15,1.0,38,160530
10,2556,Stafford County,VA,Washington-Arlington-Alexandria,467,347158.333333,51179,32,8,1.0,40,149960
11,3193,Spotsylvania County,VA,Washington-Arlington-Alexandria,482,287085.666667,51177,35,9,1.0,44,134238
12,1581,Calvert County,MD,Washington-Arlington-Alexandria,619,341216.666667,24009,25,6,1.0,31,92003
13,2261,Fauquier County,VA,Washington-Arlington-Alexandria,762,419933.666667,51061,22,13,1.0,35,70675
14,2757,Jefferson County,WV,Washington-Arlington-Alexandria,871,228683.666667,54037,16,6,1.0,22,56811
15,2240,Culpeper County,VA,Washington-Arlington-Alexandria,962,293808.000000,51047,11,4,1.0,15,51859
16,3213,Manassas City,VA,Washington-Arlington-Alexandria,1125,330914.333333,51683,10,7,1.0,17,41641
17,1483,Warren County,VA,Washington-Arlington-Alexandria,1132,223468.333333,51187,8,6,1.0,14,40003
18,3283,Fredericksburg City,VA,Washington-Arlington-Alexandria,1445,325345.333333,51630,6,3,2.0,9,29144
19,3162,Fairfax City,VA,Washington-Arlington-Alexandria,1499,544894.000000,51600,7,5,NaN,12,24574
20,943,Clarke County,VA,Washington-Arlington-Alexandria,1776,358250.000000,51043,4,3,NaN,7,14523
21,3272,Falls Church City,VA,Washington-Arlington-Alexandria,1828,812208.666667,51610,2,3,NaN,5,14772